<mat-toolbar style="background-color: #A03037;" >
    <div style="margin-left: 100px;" >
        <img class="image" src="../../../assets/education.png"  >
        <span style="color: #FFFFFF; margin-left: 10px;">Book Store</span>
    </div>
  <mat-card class="searchbar" fxLayout="row" fxLayout.xs="row">
      <img class="searchimg" src="../../../assets/outline_search_black_24dp.png" >

      <input class="search1" type="text" name="search" placeholder="Search" #search
           fxHide.xs fxHide.sm>
      
  </mat-card>
    <button class="example-icon" aria-label="Example icon-button with heart icon">
        <img class="image2" src="../../../assets/person_white_24dp.svg"  >
        <br>
        <a style="color: #FFFFFF;">Profile</a>
      </button>
      <button class="example-icon" aria-label="Example icon-button with share icon">
        <img class="image2" src="../../../assets/supermarket.png" >
        <br>
        <a style="color: #FFFFFF;">Cart</a>
      </button>  
</mat-toolbar>
