.example-spacer {
    flex: 1 1 auto;
  }
  .image2{
      background-color:#A03037 ;
  }
  .example-icon{
    background-color:#A03037 ;
    border: unset;
    margin-right: 30px;
  }
  .searchbar{
    margin-left: 60px;
    width: 33%;
    height: 40px;
    margin-right: 300px;
}
.searchimg{
    // border: 1px solid green;
    opacity: 0.6;
    height: 24px;
    width: 24px;
   position: relative;
   top: -6px;

}
.search1{
    height: 10px;
    border: none;
    outline: none;
    
}