<mat-toolbar style="background-color: #A03037;" >
    <div style="margin-left: 100px;" >
        <img class="image" src="assets/education.svg"  >
        <span style="color: #FFFFFF; margin-left: 10px;">Book Store</span>
    </div>   
</mat-toolbar>
<div>
    <div class="header">
        <span>Forgot Your Password?</span>
      </div>
    <div class="body" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutAlign.xs="start stretch"  >
        
    <mat-card style="margin-top: 20px; width: 424px; height: 287px;"  fxLayout="column" fxLayoutAlign="start center" >
          
          <div style="margin-top: 36px;">
            <a>Enter your email address and we'll send you<br> a link to reset your password.</a>
        </div>
        <div class="divs">
            <div class="textlable">
                <mat-label class="text">Email Id</mat-label>
            </div>           
            <div class="form1">               
                <mat-form-field class="full-width" appearance="outline">                 
                  <input matInput placeholder="">                                
                </mat-form-field>
            </div> 
        </div>  
        <div class="example-button-row">                
            <button class="btnlogin" mat-button >Reset Password</button>
        </div>     
    </mat-card>
</div>

<div class="example-button-row2" fxLayoutAlign="center center">                
    <button class="btnlogin2" mat-button >Create Account</button>
</div> 
</div>