::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
::ng-deep .mat-form-field-wrapper{
    margin: 0 !important;
    padding: 0em;
  }
::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 300px;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color:#A03037  !important;
}
.full-width{
    width:280px;
}
.text{
    line-height: 0.2;
    font: normal normal normal 12px/15px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: capitalize;
    opacity: 1;
}
.textlable{
    text-align: left;
}
.divs{
    margin-top: 10px;
}
.example-button-row{
    margin-top: 30px;
}
.btnlogin{
    background-color: #A03037;
    color: white;
    border: unset;
    width: 278px;
    height: 37px;
    border-radius: 3px;
    opacity: 1; 
}
.header{
    font-size: 25px;
    margin-left: 550px;
    margin-top: 100px;
}
.btnlogin2{
    background-color: #F9F9F8;
    color: #0A0102;
    border-color: #E4E4E4;
    width: 424px;
    height: 100px;
    border-radius: 3px;
    opacity: 1; 
    font-size: 18px;
}