<mat-toolbar style="background-color: #A03037;" >
    <div style="margin-left: 100px;" >
        <img class="image" src="../../../assets/education.png"  >
        <span style="color: #FFFFFF; margin-left: 10px;">Book Store</span>
    </div>
  <mat-card class="searchbar" fxLayout="row" fxLayout.xs="row">
      <img class="searchimg" src="../../../assets/outline_search_black_24dp.png" >

      <input class="search1" type="text" name="search" placeholder="Search" #search
           fxHide.xs fxHide.sm>
      
  </mat-card>
    <button class="example-icon" aria-label="Example icon-button with heart icon">
        <img class="image2" src="assets/person_white_24dp.svg"  >
        <br>
        <a style="color: #FFFFFF;">Profile</a>
      </button>
      <button class="example-icon" aria-label="Example icon-button with share icon">
        <img class="image2" src="../../../assets/supermarket.png" >
        <br>
        <a style="color: #FFFFFF;">Cart</a>
      </button>  
</mat-toolbar>
<mat-card style="margin-top:40px; width: 1022px; height: 150.78px; margin-left: 177px;" fxLayout="row" fxLayoutAlign="start center">
    <div>
        <img class="img" src="../../../assets/Image 11.png" >
    </div>   
    <div style="margin-left: 30px;">
        <a class="title">Don't Make Me Think</a><br>
        <a class="author">by Steve Krog</a><br>
        <a class="price">Rs. 1500</a>
    </div>
    <div style="margin-left: 500px;">
        <img class="img2" src="../../../assets/green-button-png-transparent-png (1).png" >
        <a>Order Placed on May 21</a>
    </div>
</mat-card>
<mat-card style="margin-top:40px; width: 1022px; height: 150.78px; margin-left: 177px;" fxLayout="row" fxLayoutAlign="start center">
    <div>
        <img class="img" src="../../../assets/Image 36.png" >
    </div>   
    <div style="margin-left: 30px;">
        <a class="title">React Material-UI</a><br>
        <a class="author">by Cookbook</a><br>
        <a class="price">Rs. 780</a>
    </div>
    <div style="margin-left: 530px;">
        <img class="img2" src="../../../assets/green-button-png-transparent-png (1).png" >
        <a>Order Placed on April 06</a>
    </div>
</mat-card>
